#register,
#login {
  width: 300px;
  border: 1px solid #d6d7da;
  padding: 0px 15px 15px 15px;
  border-radius: 5px;
  font-family: arial;
  line-height: 16px;
  color: #333333;
  font-size: 14px;
  background: #ffffff;
  margin: 100px auto;
}

form label,
form input {
  display: block;
  margin-bottom: 10px;
  width: 90%;
}

form input {
  padding: 10px;
  border: solid 1px #bdc7d8;
}

.button {
  background-color: #00bfff;
  border-color: #3ac162;
  font-weight: bold;
  padding: 12px 15px;
  color: #ffffff;
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

.sucessMsg {
  color: #6b8e23;
  margin-bottom: 10px;
}

#jsonCard {
  width: 300px;
  padding: 0px 15px 15px 15px;
  border-radius: 5px;
  font-family: arial;
  line-height: 16px;
  color: #333333;
  font-size: 14px;
  background: #ffffff;
  margin: 100px auto;
}

.SearchBar {
  font-family: sans-serif;
  color: black;
  text-align: center;
  width: 35%;
  margin: 9px;
}

.title {
  box-sizing: border-box;
  color: rgb(1, 189, 111);
  display: block;
  font-family: CircularStd, -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 500;
  height: auto;
  line-height: 64px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: center;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  width: auto;
  -webkit-text-fill-color: rgb(1, 189, 111);
}

.login-form {
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 0, 0);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(0, 0, 0);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: none;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: CircularStd, -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  height: 269.2px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 239.6px;
  margin-right: 239.6px;
  margin-top: 0px;
  max-width: 304px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  width: 304px;
  -webkit-text-fill-color: rgb(0, 0, 0);
}

.username {
  box-sizing: border-box;
  color: rgb(38, 50, 56);
  cursor: default;
  display: block;
  font-family: CircularStd, -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 18px;
  line-height: 18px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: left;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  width: 296px;
  -webkit-text-fill-color: rgb(38, 50, 56);
}

.info {
  box-sizing: border-box;
  color: rgb(144, 164, 174);
  display: block;
  font-family: CircularStd, -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 24px;
  line-height: 24px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-block-end: 40px;
  margin-block-start: 0px;
  margin-bottom: 40px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  position: relative;
  text-align: center;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  width: 800px;
  -webkit-text-fill-color: rgb(144, 164, 174);
}

.jfHeader-authFormInput {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(232, 240, 254);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-color: rgb(207, 216, 220);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(207, 216, 220);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(207, 216, 220);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(207, 216, 220);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: none;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: text;
  display: block;
  font-family: CircularStd, -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 40.4px;
  letter-spacing: normal;
  line-height: normal;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 9px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 9px;
  text-align: start;
  text-indent: 0px;
  text-rendering: optimizelegibility;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: ease;
  width: 304px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-border-image: none;
}

.locale {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  box-sizing: border-box;
  color: rgb(202, 202, 202);
  display: block;
  font-family: CircularStd, -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 24px;
  line-height: 24px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 102px;
  margin-right: 102px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  position: relative;
  text-align: center;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  width: 100px;
  z-index: 11;
  -webkit-text-fill-color: rgb(202, 202, 202);
}

.auth-or {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: CircularStd, -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  height: 24px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 16px;
  margin-left: 239.6px;
  margin-right: 239.6px;
  margin-top: 16px;
  max-width: 304px;
  position: relative;
  text-align: center;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  width: 304px;
  -webkit-text-fill-color: rgb(0, 0, 0);
}

.newModalButton jfHeader-button sign-in {
  align-items: center;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(242, 251, 248);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-color: rgb(166, 232, 205);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(166, 232, 205);
  border-left-style: solid;
  border-left-width: 2px;
  border-right-color: rgb(166, 232, 205);
  border-right-style: solid;
  border-right-width: 2px;
  border-top-color: rgb(166, 232, 205);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 2px;
  box-sizing: border-box;
  color: rgb(1, 189, 111);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: CircularStd, -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  height: 44.4px;
  justify-content: center;
  letter-spacing: normal;
  line-height: normal;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-width: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  text-align: center;
  text-indent: 0px;
  text-rendering: optimizelegibility;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
  width: 240px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-appearance: none;
  -webkit-text-fill-color: rgb(1, 189, 111);
  -webkit-border-image: none;
}

.login-button {
  align-items: center;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(242, 251, 248);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-color: rgb(166, 232, 205);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(166, 232, 205);
  border-left-style: solid;
  border-left-width: 2px;
  border-right-color: rgb(166, 232, 205);
  border-right-style: solid;
  border-right-width: 2px;
  border-top-color: rgb(166, 232, 205);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 2px;
  box-sizing: border-box;
  color: rgb(1, 189, 111);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: CircularStd, -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  height: 49.2px;
  justify-content: center;
  letter-spacing: normal;
  line-height: normal;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-width: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  text-align: center;
  text-indent: 0px;
  text-rendering: optimizelegibility;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
  width: 304px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-appearance: none;
  -webkit-text-fill-color: rgb(1, 189, 111);
  -webkit-border-image: none;
}

.logout-button {
  align-items: center;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(242, 251, 248);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-color: rgb(166, 232, 205);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(166, 232, 205);
  border-left-style: solid;
  border-left-width: 2px;
  border-right-color: rgb(166, 232, 205);
  border-right-style: solid;
  border-right-width: 2px;
  border-top-color: rgb(166, 232, 205);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 2px;
  box-sizing: border-box;
  color: rgb(1, 189, 111);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: CircularStd, -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  height: 49.2px;
  justify-content: center;
  letter-spacing: normal;
  line-height: normal;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-width: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  text-align: center;
  text-indent: 0px;
  text-rendering: optimizelegibility;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
  width: 304px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-appearance: none;
  -webkit-text-fill-color: rgb(1, 189, 111);
  -webkit-border-image: none;
}

.spanText {
  box-sizing: border-box;
  color: rgb(1, 189, 111);
  cursor: pointer;
  display: block;
  font-family: CircularStd, -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 500;
  height: auto;
  letter-spacing: normal;
  line-height: normal;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  text-indent: 0px;
  text-rendering: optimizelegibility;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  width: auto;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-text-fill-color: rgb(1, 189, 111);
}

.forgotPassword {
  align-items: center;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-color: rgb(33, 150, 243);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(33, 150, 243);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(33, 150, 243);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(33, 150, 243);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(33, 150, 243);
  cursor: pointer;
  display: flex;
  font-family: CircularStd, -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-feature-settings: "lnum";
  font-size: 12px;
  font-variant-numeric: lining-nums;
  font-weight: 400;
  height: 14.4px;
  justify-content: flex-end;
  line-height: normal;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  min-width: 0px;
  outline-color: rgb(33, 150, 243);
  outline-style: none;
  outline-width: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: right;
  text-decoration-color: rgb(33, 150, 243);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
  width: 304px;
  -webkit-box-align: center;
  -webkit-box-pack: end;
  -webkit-text-fill-color: rgb(33, 150, 243);
}

.footer-text {
  box-sizing: border-box;
  color: rgb(144, 164, 174);
  display: block;
  font-family: CircularStd, -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-feature-settings: "lnum";
  font-size: 14px;
  font-variant-numeric: lining-nums;
  height: 24px;
  line-height: 24px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-block-end: 14px;
  margin-block-start: 48px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-top: 48px;
  margin-bottom: 40px;

  text-align: center;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  width: 783.2px;
  -webkit-text-fill-color: rgb(144, 164, 174);
}

.signup-button {
  align-items: flex-start;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: auto;
  border-bottom-color: rgb(1, 189, 111);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(1, 189, 111);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(1, 189, 111);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(1, 189, 111);
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(1, 189, 111);
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-feature-settings: "lnum";
  font-size: 14px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: lining-nums;
  font-weight: 400;
  height: 18px;
  letter-spacing: normal;
  line-height: 16.1px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  text-align: center;
  text-indent: 0px;
  text-rendering: optimizelegibility;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  width: 59.4875px;
  word-spacing: 0px;
  writing-mode: horizontal-tb;
  -webkit-appearance: none;
  -webkit-text-fill-color: rgb(1, 189, 111);
  -webkit-border-image: none;
}

.login-failed {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(244, 67, 54);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: table;
  font-family: CircularStd, -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
  font-feature-settings: "lnum";
  font-size: 12px;
  font-variant-numeric: lining-nums;
  font-weight: 400;
  height: auto;
  line-height: 24px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-left: 8px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  position: relative;
  text-align: left;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  width: auto;
  z-index: 1;
  -webkit-text-fill-color: rgb(255, 255, 255);
}
